body {
  background: grey;
}
h1 {
  font-size: 45px;
  font-weight: bold;
}
h4 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}
h2 {
  border-bottom: 1px solid black;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 15px;
  overflow: auto;
  box-sizing: border-box;
}
.right-column {
  background-color: #f7f7f7;
}
